html,
body {
  background: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #ffffff;
  transition: transform 0.4s ease-in-out;
  transform: translateY(0);
  z-index: 100;
}

nav.hidden {
  transform: translateY(-150%);
}


.homeCover {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  padding-bottom: 4em;
}

.h5 {
  color: black !important;
}

.kontaktText {
  text-align: center;
  backdrop-filter: brightness(50%);
  border-radius: 30px;
  color: white;
  margin-top: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
}

h1 {
  backdrop-filter: brightness(80%);
  border-radius: 30px;
  
}

.hr {
  backdrop-filter: brightness(80%);
}

.bild1 {
  margin: auto;
}

.headerDiv {
  display: flex;
  justify-content: space-between;
  background-color: white;
  opacity: 0.9;
  margin: auto;
}

.skizzeBild {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

.skizzeBildContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.linkDiv {
  display: flex;
  margin-top: 10px;
  position: sticky;
  justify-content: center;
}

.logo2 {
  background-color: white;
  opacity: 0.9;
}

.logo1 {
  background-color: white;
  opacity: 0.9;
}

.urlBild {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -100px;
}

.HausCover {
  display: block;
  text-align: center;
  margin-left: 10rem;
  margin-right: 10rem;
}

:hover.link {
  color: grey;
}

.bilderDiv {
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.bautechnikLink {
  margin-bottom: 15px;
}

.einzelBild {
  float: left;
  margin-bottom: 40px;
  margin-right: 10px;
  margin-top: -9px;
}

.bilderMap {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bildDecoration {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 85px;
}

.hollow {
  color: transparent;
}

.footer {
  padding-top: 7px;
  margin-bottom: 5px;
  font-family: arial;
}

@media only screen and (max-width: 800px) {
  html,
  body {
  background-size: contain;
  background-position: center;
  }

  .linkDiv {
    display: flex;
    margin-top: 10px;
    position: sticky;
    justify-content: center;
  }

  .paper-btn.btn-primary.text-decoration-none.text-black {
    font-size: 15px;
    padding: 8px 8px;
  }

  .link {
    margin: 5px;
  }
  
  .homeCover {
  background-size: contain;
  background-position: center;
  margin-top: 0;
  padding-bottom: 5em;
  }


h1 {
  backdrop-filter: brightness(80%);
  border-radius: 30px;
}
  
  .bilderDiv {
  margin-top: 40px;
  }
  
  .bautechnikLink {
    margin-bottom: 25px;
  }

  .skizzeBild {
  width: 100%;
  max-width: 400px;
 
  }
  
  .skizzeBildContainer {
  flex-direction: column;
  margin-bottom: 60px;
  }

  .bilderMap {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .urlBild {
  margin-top: -50px;
  }
  
  .einzelBild {
  float: none;
  margin: 0;
  margin-bottom: 10px;
  }
  
  .bildDecoration {
  margin-top: 40px;
  }

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
      animation:App-logo-spin infinite 2s linear;
      border: none;
      height: 70vmin;
  }
}

@keyframes App-logo-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
